* {
  font-family: "Rubik", sans-serif;
}

a:link {
  text-decoration: none;
}

.container1 {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.container2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #3cdbc0;
  height: 100vh;
}

.logo {
  margin-top: 10px;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 13px;
}

.item {
  text-transform: uppercase;
  font-size: 16px;
  word-spacing: 20px;
}

.slogan {
  color: #ffffff;
  font-size: 30px;
}

@media all and (min-width: 768px) {
  .container1 {
    flex-direction: row;
    justify-content: space-between;
  }

  .logo {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
  }

  .menu {
    margin-right: 30px;
  }
}
