/*es preferible usar :root para las fuentes*/
* {
  font-family: "Rubik", sans-serif;
}

a:link {
  text-decoration: none;
  color: #4a4a4a;
}

.container1 {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  background-color: #ffffff; /*se me ha olvidado poner color*/
}

/*si utilizamos word-spacing:100vw, forzaremos en a que cada palabra esté en una línea. En este caso, también tendríamos que alinearlo*/
.container2 {
  background-color: #3cdbc0;
  height: 100vh;
  margin-top: 104px;
}

.logo {
  margin-top: 10px;
}

/*enlaces son de tipo inline*/
.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 13px;
}

/*para dar hueco a los enlaces, mejor usar padding*/
.link {
  display: block;
  padding: 0 10px 13px 10px;
  text-transform: uppercase;
  font-size: 16px;
}

.slogan {
  color: #ffffff;
  font-size: 30px;
  text-transform: capitalize;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  transform: translateY(50vh);
}

@media all and (min-width: 768px) {
  .container1 {
    flex-direction: row;
    justify-content: space-between;
  }

  .logo {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
  }

  .menu {
    margin-right: 30px;
  }

  .slogan {
    font-size: 40px;
  }
}
