<header class="container1">
  <div class="logo">
      <a href="https://adalab.es/" target="_blank">
          <img src="./assets/images/adalab-logo-155x61.png" alt="Logo de Adalab" title="Escuela Digital Especializada para Mujeres" >
      </a>
  </div>
  <nav class="nav">
      <ul class="menu">
          <li class="item">
              <a class="link" href="https://adalab.es/" target="_blank" title="Blog">blog</a>
          </li>
          <li class="item">
              <a class="link" href="https://adalab.es/" target="_blank" title="Contacto">contacto</a>
          </li>
      </ul>
  </nav>
</header>
